html,
body {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Dosis', sans-serif;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

body.loaded {
    opacity: 1;
}

/* NAVIGATION */
.nav {
    margin: 0;
    padding: 0 0 20px 0;
    box-shadow: 0 4px 1px 0 rgba(30, 59, 91, 0.1);
    display: block;
}

.nav .default {
    margin: 25px auto 0 auto;
    width: 90%;
    font-weight: 700;
    position: relative;
}

.nav .default:after {
    content: '';
    display: block;
    clear: both;
}

.nav .default .left-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    position: relative;
}

.nav .default .left-links > li > .link {
}

.nav .default .right-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

.nav .default .right-links > li {
    display: inline-block;
}

.nav .default .right-links > li > .link {
    margin: 1px 15px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

/* Links Design */
.links {
    margin: 40px 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

.links > .each {
    display: inline-block;
}

.links > .each > .link {
    padding: 5px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #111111;
    display: block;
    transition: color 0.4s ease-in-out;
    position: relative;
}

.links > .each > .link:hover {
    color: #41a085;
}

.links > .each > .link:before {
    bottom: 0;
    left: 0;
    width: 0%;
    height: 50%;
    background-color: #92e6ce;
    content: " ";
    position: absolute;
    z-index: -1;
    transition: width 0.4s ease-in-out;
}

.links > .each > .link:hover:before {
    width: 100%;
}

/* - ONE */

.one {
    background-color: #ffffff;
    transition: background-color 0.5s ease-in-out;
}

.one .icon {
    margin: 1px auto;
    width: 450px;
    display: block;
}

.one.on {

}

.one.on .icon {
    animation-name: fadeIn;
    animation-duration: 0s;
}

.one.off .icon {
    animation-name: fadeOut;
    animation-duration: 0.0s;
}

.one .title {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 900;
}

.one .subtitle {
    margin: 0;
    padding: 0;
    font-size: 40px;
}

.one.on .title {
    color: #85366e;
    animation-name: fadeInUp;
    animation-duration: 1.0s;
}

.one.off .title {
    animation-name: fadeOutDown;
    animation-duration: 0.0s;
}

.one.on .subtitle {
    color: #41c3d3;
    animation-name: fadeInUp;
    animation-duration: 1.5s;
}

.one.off .subtitle {
    animation-name: fadeOutDown;
    animation-duration: 0.0s;
}

.one .text {
    padding: 0;
}

.one.on .text {
    /* font-size: 18px; */
    line-height: 1.5;
    animation-name: fadeInUp;
    animation-duration: 2.0s;
}

.one.off .text {
    animation-name: fadeOutDown;
    animation-duration: 0.0s;
}

/* - TWO */
.two {
    background-color: #efefef;
}

.two .icon {
    margin: 1px auto;
    width: 450px;
    display: block;
}

.two.on .icon {
    animation-name: fadeIn;
    animation-duration: 0s;
}

.two.off .icon {
    animation-name: fadeOut;
    animation-duration: 0.0s;
}

.two .title {
    padding: 0;
    font-size: 45px;
    color: #c04d8f;
    text-shadow: 1px 1px 2px #10121940;
}

.two.on .title {
    animation-name: slideInDown;
    animation-duration: 1.0s;
}

.two.off .title {
    animation-name: slideOutDown;
    animation-duration: 0.0s;
}

.two .text {
    padding: 0;
    color: #684f87;
    font-size: 25px;
}

.two.on .text {
    animation-name: slideInDown;
    animation-duration: 1.5s;
}

.two.off .text {
    animation-name: slideOutDown;
    animation-duration: 0.0s;
}

.two.on .link {
    animation-name: slideInLeft;
    animation-duration: 1.5s;
}

/* - THREE */
.three .icon {
    margin: 1px auto;
    width: 600px;
    display: block;
}

.three.on .icon {
    animation-name: fadeIn;
    animation-duration: 0s;
}

.three.off .icon {
    animation-name: fadeOut;
    animation-duration: 0s;
}

.three .title {
    padding: 0;
    font-size: 45px;
    color: #757575;
    /* text-shadow: 1px 1px 2px #10121940; */
}

.three.on .title {
    animation-name: slideInDown;
    animation-duration: 1.0s;
}

.three.off.title {
    animation-name: slideOutUp;
    animation-duration: 0.0s;
}

.three .text {
    padding: 0;
    color: #111111;
    font-size: 25px;
}

.three.on .text {
    animation-name: slideInDown;
    animation-duration: 1.4s;
}

.three.off .text {
    animation-name: slideOutUp;
    animation-duration: 0.0s;
}

.three.on .link {
    animation-name: slideInDown;
    animation-duration: 1.8s;
}

/* - FOUR */
.four .icon {
    margin: 1px auto;
    width: 250px;
    display: block;
}

.four.on .icon {
    animation-name: slideInUp;
    animation-duration: 0.4s;
}

.four.off .icon {
    animation-name: slideOutDown;
    animation-duration: 0.0s;
}

.four h1 {
    padding: 0;
    text-align: center;
    font-size: 45px;
    color: #2f6584;
    text-shadow: 1px 1px 2px #10121940;
}

.four.on h1 {
    animation-name: slideInUp;
    animation-duration: 1.0s;
}

.four.off h1 {
    animation-name: slideOutDown;
    animation-duration: 0.0s;
}

/*CONTENT POSITION*/

.box {
    width: 100%;
    height: 100%;
    display: table;
}

/* To Bootstrap */

.box > .row {
    width: 100%;
    display: table-row;
}

.box > .row > div {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
}

/* End to Bootstrap */

.box .top {
    width: 100%;
    display: table-row;
}

.box .top .content {
    width: 100%;
    vertical-align: top;
    display: table-cell;
}

.box .middle {
    width: 100%;
    height: 60%;
    display: table-row;
}

.box .middle.only {
    height: 100%;
}

.box .middle.top {
    /* height: 80%; */
}

.box .middle .content {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
}

.box .middle .content.half {
    width: 50%;
}

.box .bottom {
    width: 100%;
    height: 20%;
    display: table-row;
}

.box .bottom .content {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

/*BACKGROUND, BORDER AND TEXT COLORS*/
.bg-red {
    background-color: #E53935
}

.bg-pink {
    background-color: #D81B60
}

.bg-purple {
    background-color: #8E24AA
}

.bg-deep-purple {
    background-color: #5E35B1
}

.bg-indigo {
    background-color: #3949AB
}

.bg-blue {
    background-color: #1E88E5
}

.bg-light-blue {
    background-color: #0288D1
}

.bg-cyan {
    background-color: #00ACC1
}

.bg-teal {
    background-color: #00897B
}

.bg-green {
    background-color: #43A047
}

.bg-light-green {
    background-color: #7CB342
}

.bg-lime {
    background-color: #C0CA33
}

.bg-yellow {
    background-color: #FDD835
}

.bg-amber {
    background-color: #FFB300
}

.bg-orange {
    background-color: #FB8C00
}

.bg-deep-orange {
    background-color: #F4511E
}

.bg-brown {
    color: #6D4C41
}

.bg-gray {
    background-color: #757575
}

.bg-black {
    background-color: #000000
}

.bg-white {
    background-color: #ffffff
}

.bd-red {
    border-color: #E53935
}

.bd-pink {
    border-color: #D81B60
}

.bd-purple {
    border-color: #8E24AA
}

.bd-deep-purple {
    border-color: #5E35B1
}

.bd-indigo {
    border-color: #3949AB
}

.bd-blue {
    border-color: #1E88E5
}

.bd-light-blue {
    border-color: #0288D1
}

.bd-cyan {
    border-color: #00ACC1
}

.bd-teal {
    border-color: #00897B
}

.bd-green {
    border-color: #43A047
}

.bd-light-green {
    border-color: #7CB342
}

.bd-lime {
    border-color: #C0CA33
}

.bd-yellow {
    border-color: #FDD835
}

.bd-amber {
    border-color: #FFB300
}

.bd-orange {
    border-color: #FB8C00
}

.bd-deep-orange {
    border-color: #F4511E
}

.bd-brown {
    border-color: #6D4C41
}

.bd-gray {
    border-color: #757575
}

.bd-black {
    border-color: #000000
}

.bd-white {
    border-color: #ffffff
}

.text-red {
    color: #E53935
}

.text-pink {
    color: #D81B60
}

.text-purple {
    color: #8E24AA
}

.text-deep-purple {
    color: #5E35B1
}

.text-indigo {
    color: #3949AB
}

.text-blue {
    color: #1E88E5
}

.text-light-blue {
    color: #0288D1
}

.text-cyan {
    color: #00ACC1
}

.text-teal {
    color: #00897B
}

.text-green {
    color: #43A047
}

.text-light-green {
    color: #7CB342
}

.text-lime {
    color: #C0CA33
}

.text-yellow {
    color: #FDD835
}

.text-amber {
    color: #FFB300
}

.text-orange {
    color: #FB8C00
}

.text-deep-orange {
    color: #F4511E
}

.text-brown {
    color: #6D4C41
}

.text-gray {
    color: #757575
}

.text-black {
    color: #000000
}

.text-white {
    color: #ffffff
}

/*ANIMATION*/

.animation-one {
    animation-duration: 0.1s;
}

.animation-two {
    animation-duration: 0.2s;
}

.animation-three {
    animation-duration: 0.3s;
}

.animation-four {
    animation-duration: 0.4s;
}

.animation-five {
    animation-duration: 0.5s;
}

.animation-six {
    animation-duration: 0.6s;
}

.animation-seven {
    animation-duration: 0.7s;
}

.animation-eight {
    animation-duration: 0.8s;
}

.animation-nine {
    animation-duration: 0.9s;
}

.animation-ten {
    animation-duration: 1s;
}

.animation-eleven {
    animation-duration: 1.1s;
}

.animation-twelve {
    animation-duration: 1.2s;
}

.animation-thirteen {
    animation-duration: 1.3s;
}

.animation-fourteen {
    animation-duration: 1.4s;
}

.animation-fifteen {
    animation-duration: 1.5s;
}

.animation-sixteen {
    animation-duration: 1.6s;
}

.animation-seventeen {
    animation-duration: 1.7s;
}

.animation-eightteen {
    animation-duration: 1.8s;
}

.animation-nineteen {
    animation-duration: 1.9s;
}

.animation-twenty {
    animation-duration: 2s;
}

.animation-twenty-one {
    animation-duration: 2.1s;
}

.animation-twenty-two {
    animation-duration: 2.2s;
}

.animation-twenty-three {
    animation-duration: 2.3s;
}

.animation-twenty-four {
    animation-duration: 2.4s;
}

.animation-twenty-five {
    animation-duration: 2.5s;
}

.animation-twenty-six {
    animation-duration: 2.6s;
}

.animation-twenty-seven {
    animation-duration: 2.7s;
}

.animation-twenty-eight {
    animation-duration: 2.8s;
}

.animation-twenty-nine {
    animation-duration: 2.9s;
}